header.header
  .container
    .row.align-items-center
      .col-3
        .inner-logo
          a(href="/")
            img(src="https://yt3.ggpht.com/a-/AN66SAzEgn407FRFYeOgKk5nTH5_pw920Z39jqUVeA=s900-mo-c-c0xffffffff-rj-k-no", alt="Logo")
      .col-5 
        .box-search
          form(
            action="/search/result"
            method="GET"
          )
            div(class="form-group d-flex mb-0")
              input(
                type="text"
                placeholder="Nhập từ khóa..."
                class="form-control"
                name="keyword"
                value=keyword                
              )
              button(
                type="submit"
                class="btn btn-primary"
              ) Tìm

          .inner-suggest
            .inner-list   
              //- a(href=`/songs/detail/:slugSong` class="inner-item")
              //-   .inner-image  
              //-     img(src="https://backend.daca.vn/assets/images/cat-doi-noi-sau.jpg")
              //-   .inner-info 
              //-     .inner-title Cắt đôi nỗi sầu 
              //-     .inner-singer 
              //-       <i class="fa-solid fa-microphone-lines"></i> Tăng Duy Tân 

      .col-4
        .inner-menu
          ul
            li
              a(href="/") <i class="fa-solid fa-house"></i> Trang chủ
            li 
              a(href="/topics") <i class="fa-solid fa-music"></i> Chủ đề
            li 
              a(href="/favorite-songs") <i class="fa-solid fa-heart"></i> Yêu thích